[submodule "examples/AccessibleColors"]
	path = examples/AccessibleColors
	url = git@github.com:sw1sh/AccessibleColors.git
[submodule "examples/PAdic"]
	path = examples/PAdic
	url = git@github.com:sw1sh/PAdic.git
[submodule "examples/WolframParser"]
	path = examples/WolframParser
	url = git@github.com:sw1sh/WolframParser.git
